:root {
    /* members */
    --s01: #17A7FE;
    --s02: #8801FF;
    --s04: #98C649;
    --s05: #D10A70;
    --s06: #FC83A5;
    --s07: #6599A4;
    --s10: #FBA0E3;
    --s11: #FEE002;
    --s12: #5974FF;
    --s13: #FF953F;
    --s14: #1222B5;
    --s15: #D51312;
    --s16: #FE8E76;
    --s17: #AB63B4;
    --s19: #52D8BB;
    --s20: #FF428A;
    --s21: #C7A4DC;
    --s22: #7BBA8D;
    --s24: #FFAB62;

    /* black txt */
    --s23: #CFF3FF;
    --s18: #B7F54C;
    --s08: #FFE3E2;
    --s09: #FFC936;
    --s03: #FFFC02;

    /* albums */
    --acidangelfromasia: #ED0B57;
    --assemble: #000000;
    --krystaleyes: #F9ACA4;
    --lovelution: #008DFF;
    --evolution: #C43E33;
    --aria: #C9A3C8;
    --nxt: #383838;
    --glow: #F2A9C9;
    --visionaryvision: #E16947;
    --hachi: #D7606E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
}

@font-face {
    font-family: 'Pretendard';
    src: url(/fonts/Pretendard-Regular.otf) format('truetype') font-weight-normal,
        url(/fonts/Pretendard-SemiBold.otf) format('truetype') font-weight-semibold,
        url(/fonts/Pretendard-Bold.otf) format('truetype') font-weight-bold;
}

.name-btn {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    font-family: 'Pretendard', sans-serif;
    font-weight: bold;
    word-wrap: break-word
}

.member-card {
    display: flex;
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.member-name {
    font-weight: bold;
    font-size: 32px;
    padding: 20px;
    color: white;
    font-family: 'Pretendard', sans-serif;
    z-index: 1;
    text-align: left;
    align-self: flex-end;
    width: 100%;
    box-sizing: border-box;
}

.banner-member {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner-member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    color: white;
    text-align: center;
    font-weight: bold;
    z-index: 10;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Pretendard', sans-serif;
    font-weight: bold;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.sticky {
    padding: 20px 100px;
    background: white;
}

header .logo,
header .menu-icon {
    position: relative;
    font-weight: bold;
    transition: 0.6s;
    height: 30px;
}

.banner {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slides-container {
    position: relative;
    width: 100%;
    height: auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: auto;
}

.slide {
    position: relative;
    min-width: 100%;
    height: auto;
    opacity: 50%;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
}

.indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
}

.indicators .active {
    background-color: #303030;
}

/* responsive */

@media (max-width: 1200px) {
    header {
        padding: 20px 50px;
    }

    .banner-text {
        font-size: 48px;
    }
}

@media (max-width: 900px) {
    header {
        padding: 15px 30px;
    }

    .banner-text {
        font-size: 36px;
    }
}

@media (max-width: 600px) {
    header {
        padding: 10px 20px;
    }

    .banner-text {
        font-size: 28px;
    }

    .slides-container {
        height: auto;
    }

    .indicators {
        gap: 5px;
    }

    .indicators button {
        width: 7px;
        height: 7px;
    }

    header .logo,
    header .menu-icon {
        position: relative;
        font-weight: bold;
        transition: 0.6s;
        height: 15px;
    }

    header.sticky {
        padding: 20px 40px;
        background: white;
    }
}